.advantages {
	padding: 70px 0 80px 0;
	background-color: #f6f6f6;
	&__wrapper {
		margin-top: 65px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 277px;
	}
	&__subtitle {
		margin-top: 30px;
		color: #0d0d0d;
		font-size: 18px;
		font-weight: 700;
	}
	&__descr {
		color: #0d0d0d;
		text-align: center;
		font-size: 14px;
		font-weight: 300;
		margin-top: 20px;
		span {
			color: #f00;
			text-decoration-line: underline;
		}
	}
	&__icon{
		&_animated {
			animation: heartbeat 1.5s ease infinite;
			&:hover {
				animation-play-state: paused;
			}
		}
	}

}
